.kep {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: block;
    transition: transform 0.5s, box-shadow 0.5s;
}

.kep:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.774);
    transform: scale(1.1);
    transition: transform 0.5s, box-shadow 0.5s;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(126, 0, 0));
}

h1 {
    color: rgb(255, 255, 255);
}

div.row {
    border: 5px solid rgba(255, 255, 255, 0.219);
    margin: 20px;
    padding-right: 10px;
    border-radius: 20px;
    display: flex;
}

.alairas {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: lightgray;
}

.vissza {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
}

.vissza:hover {
    text-decoration: underline;
    color: lightgray;
}

.footer-szoveg {
    color: white;
    margin-bottom: 10px;
}
.storykep {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: block;
}

.storyvideo{
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: block;
}